
@{
    ViewBag.Title = "All Users";
}

<h2>Users</h2>
<table class="table">
    <tr>
        <th>
            User Name
        </th>
        <th>
            Email
        </th>
        <th>
            Team Name
        </th>
        <th></th>
    </tr>
    @*@foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.TeamName)
            </td>
        </tr>
    }*@
</table>
